<div class="backdrop" (click)="closed.emit()"></div>
<div class="popup" [class]="'popup--' + popupSide()">
    <div class="arrow"></div>
    <!-- refine -->
    @if(meta().canRefine){
    <tt-slider min="0" max="10" [value]="state().refine" (valueChange)="changeRefine($event)" [displayWith]="dispRefine"
        [print]="true" />
    }
    <!-- item -->
    <!-- FIXME: mat-select renders all items which is very slow -->
    <mat-form-field>
        <mat-label>{{meta().label}}</mat-label>
        <mat-select (selectionChange)="changeItem($event.value)" [value]="state().item">
            @for (item of jobItems(); track $index) {
            <mat-option [value]="item.ID">{{item.name}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    <!-- cards -->
    @for (cardId of state().cards; track $index) {
    <tt-card-slot-v3 [cardId]="cardId" [cardType]="cardType()" (cardIdChange)="changeCard($index, $event)" />
    }
    <!-- enchants -->
    @for (enchant of enchants(); track $index) {
    <tt-enchant-slot [variant]="enchant.type" [value]="enchant.itemId" (valueChange)="changeEnchant($index, $event)" />
    }
</div>