.tt-page-loader-container {
  position: absolute;
  background-color: rgba(160, 160, 160, 0.75);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 15px;
}
