<mat-card class="battle-calc-pvm-card">
    <mat-card-header>
        <img mat-card-avatar src="https://static.divine-pride.net/images/mobs/png/{{targetId}}.png">
        <mat-card-title class="target-title">{{targetName}}</mat-card-title>
        <button mat-icon-button (click)="changeTarget()"><mat-icon>edit</mat-icon></button>
        <span class="filler">&nbsp;</span>
        @if (!autoRefresh) {
        <button mat-icon-button color="accent" (click)="refresh()"><mat-icon>refresh</mat-icon></button>
        }
        <button mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
    </mat-card-header>
    <mat-card-content>
        HP: {{targetInfo?.hp}}<br>
        DEF: {{defReduc}} (Original: {{targetInfo?.def}})<br>
        MDEF: {{mdefReduc}} (Original: {{targetInfo?.mdef}})<br>
        <hr>
        <mat-form-field subscriptSizing="dynamic">
            <mat-label>Attack Skill</mat-label>
            <mat-select [(value)]="selectedSkillName" (selectionChange)="changeSkill($event.value)">
                @for (skill of skillLst| keyvalue; track $index) {
                <mat-option [value]="skill.key">{{skill.key}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field subscriptSizing="dynamic">
            <mat-label>Skill Level</mat-label>
            <mat-select [(value)]="selectedSkillLv" (selectionChange)="updateBattleSimulation()">
                @for (skillLvl of selectedSkill | lvarray: selectedSkill?.maxLevel; track $index) {
                <mat-option [value]="skillLvl">{{skillLvl}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <hr>
        Min-Damage: {{battleResult.minDamage}}<br>
        Max-Damage: {{battleResult.maxDamage}}
    </mat-card-content>
    <mat-card-actions align="end">
        <mat-slide-toggle [(ngModel)]="autoRefresh" (change)="changeAutoRefresh($event.checked)">Auto.
            Refresh</mat-slide-toggle>
    </mat-card-actions>
</mat-card>