<mat-card appearance="outlined">
  <mat-card-title-group>
    <mat-card-title>Buffs Selection</mat-card-title>
  </mat-card-title-group>
  <mat-card-content tt-collapse-container #buffSelection>
    @for (buff of ttSessionInfoService.buffSkills | keyvalue; track buff) {
<div
      fxLayout="column"
      fxLayoutGap="32px"
     
     
    >
@switch (buff.value['type']) {
      @case (list) {

        <mat-form-field>
          <mat-label>{{ buff.key }}</mat-label>
          <mat-select
            [(value)]="ttSessionInfoService.sessionInfo['activeBuff'][buff.key]"
            (selectionChange)="ttSessionInfoService.updateSessionInfo()"
          >
            @for (skillLv of buff | lvarray: buff.value['maxLevel']; track skillLv) {
<mat-option
             
              [value]="skillLv"
            >
              {{ skillLv }}
            </mat-option>
}
          </mat-select>
        </mat-form-field>
      
}
      @case (check) {

        <mat-checkbox
          class="buff-check"
          [(ngModel)]="ttSessionInfoService.sessionInfo['activeBuff'][buff.key]"
          (change)="ttSessionInfoService.updateSessionInfo()"
        >
          {{ buff.key }}
        </mat-checkbox>
      
}
    }
</div>
}
  </mat-card-content>
</mat-card>
