<mat-tab-group>
  <mat-tab label="PvM">
    <div class="pvm-container">
      @for (calc of (battleCalcPVM$ | async); track calc; let i = $index) {
<battle-calc-pvm
        (onClose)="closeBattleDetailPVM(calc.id)" (onTargetChange)="updateBattleDetailPVMTarget(calc.id, $event)"
        [target]="calc.target" @insertCalcTrigger class="pvm-content">
      </battle-calc-pvm>
}
      <div class="pvm-add-btn">
        <button mat-fab color="primary" (click)="createBattleDetailPVM()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="PvP">Player battle </mat-tab>
</mat-tab-group>