:host {
    position: relative;
    display: inline-block;
}

.equip-tile {
    width: 64px;
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.disabled {
    cursor: unset;
    user-select: none;
    background-color: var(--mat-sys-surface-variant);
}

.placeholder {
    font: var(--mat-sys-headline-large);
}