<div class="settings-overlay" [style.display]="(ttSettings.showSettings$ | async) ? 'block' : 'none'">
    <!-- backdrop -->
    <div class="settings-backdrop" (click)="ttSettings.hideSettings()"></div>
    <!-- content -->
    <div class="settings-content">
        <mat-card>
            <mat-card-content>
                <mat-selection-list dense (selectionChange)="changePopupSetting($event)">
                    <h2 matSubheader>Display as Popup</h2>
                    <mat-list-option [selected]="ttSettings.popup.statsInfo" value="statsInfo">Stats
                        Info</mat-list-option>
                    <mat-list-option [selected]="ttSettings.popup.buffs" value="buffs">Buffs Selection</mat-list-option>
                </mat-selection-list>
                <mat-slide-toggle [checked]="ttSettings.debug()" (change)="ttSettings.debug.set($event.checked)">Debug</mat-slide-toggle>
            </mat-card-content>
        </mat-card>
    </div>
</div>