<!-- Job class -->
<mat-form-field subscriptSizing="dynamic">
    <mat-label>Class</mat-label>
    <mat-select (selectionChange)="onClassChange($event)" [(value)]="selectedClassName">
        @for (class of jobClasses; track class) {
<mat-option [value]="class">
            {{ class }}
        </mat-option>
}
    </mat-select>
</mat-form-field>
<mat-checkbox ([ngModel])="babyClass" (change)="onBabyClassChange($event)">Baby Class?</mat-checkbox>
<!-- Levels -->
<p>
    <mat-form-field class="tt-stats-statField" subscriptSizing="dynamic">
        <mat-label>Base Level</mat-label>
        <mat-select [(value)]="baseLevel" (selectionChange)="updateLevel()">
            @for (level of maxStats; track level) {

                @if (level <= baseLvlMax) {
<mat-option [value]="level">
                    {{ level }}
                </mat-option>
}
            
}
        </mat-select>
    </mat-form-field>
    <mat-form-field class="tt-stats-statField" subscriptSizing="dynamic">
        <mat-label>Job Level</mat-label>
        <mat-select [(value)]="jobLevel" (selectionChange)="updateLevel()">
            @for (level of maxStats; track level) {

                @if (level <= jobLvlMax) {
<mat-option [value]="level">
                    {{ level }}
                </mat-option>
}
            
}
        </mat-select>
    </mat-form-field>
</p>
<!-- Stats -->
<p>
    <mat-form-field class="tt-stats-statField">
        <mat-label>STR</mat-label>
        <mat-select [(value)]="str" (selectionChange)="updateStats()">
            <mat-select-trigger>
                {{str}} + {{strBonus}}
            </mat-select-trigger>
            @for (stat of maxStats; track stat) {

                <mat-option [value]="stat">{{stat}}</mat-option>
            
}
        </mat-select>
    </mat-form-field>
    <mat-form-field class="tt-stats-statField">
        <mat-label>AGI</mat-label>
        <mat-select [(value)]="agi" (selectionChange)="updateStats()">
            <mat-select-trigger>
                {{agi}} + {{agiBonus}}
            </mat-select-trigger>
            @for (stat of maxStats; track stat) {

                <mat-option [value]="stat">{{stat}}</mat-option>
            
}
        </mat-select>
    </mat-form-field>
    <mat-form-field class="tt-stats-statField">
        <mat-label>VIT</mat-label>
        <mat-select [(value)]="vit" (selectionChange)="updateStats()">
            <mat-select-trigger>
                {{vit}} + {{vitBonus}}
            </mat-select-trigger>
            @for (stat of maxStats; track stat) {

                <mat-option [value]="stat">{{stat}}</mat-option>
            
}
        </mat-select>
    </mat-form-field>
    <mat-form-field class="tt-stats-statField">
        <mat-label>INT</mat-label>
        <mat-select [(value)]="int" (selectionChange)="updateStats()">
            <mat-select-trigger>
                {{int}} + {{intBonus}}
            </mat-select-trigger>
            @for (stat of maxStats; track stat) {

                <mat-option [value]="stat">{{stat}}</mat-option>
            
}
        </mat-select>
    </mat-form-field>
    <mat-form-field class="tt-stats-statField">
        <mat-label>DEX</mat-label>
        <mat-select [(value)]="dex" (selectionChange)="updateStats()">
            <mat-select-trigger>
                {{dex}} + {{dexBonus}}
            </mat-select-trigger>
            @for (stat of maxStats; track stat) {

                <mat-option [value]="stat">{{stat}}</mat-option>
            
}
        </mat-select>
    </mat-form-field>
    <mat-form-field class="tt-stats-statField">
        <mat-label>LUK</mat-label>
        <mat-select [(value)]="luk" (selectionChange)="updateStats()">
            <mat-select-trigger>
                {{luk}} + {{lukBonus}}
            </mat-select-trigger>
            @for (stat of maxStats; track stat) {

                <mat-option [value]="stat">{{stat}}</mat-option>
            
}
        </mat-select>
    </mat-form-field>
</p>