<mat-form-field>
  <mat-label><ng-content></ng-content></mat-label>
  <mat-select (selectionChange)="onSelectionChange($event)" [(value)]="value">
    <mat-select-trigger>
      <span *ngIf="prefix">{{prefix}} </span>{{value}}
    </mat-select-trigger>
    <!-- <cdk-virtual-scroll-viewport appendOnly itemSize="20" [ngStyle]="{height: '200px'}">
      <mat-option *cdkVirtualFor="let entry of selectData" [value]="entry.value">
        {{entry.name}}
      </mat-option>
    </cdk-virtual-scroll-viewport> -->
    @for (entry of selectData; track $index) {
    <mat-option [value]="entry.value">
      {{entry.name}}
    </mat-option>
    }
  </mat-select>
</mat-form-field>