@let targetData = target();
@if(targetData){
<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>
                {{targetData.name}}
                <button matIconButton (click)="changeTarget()" matTooltip="Change Target"><mat-icon>edit</mat-icon></button>
            </mat-card-title>
            <mat-card-subtitle>
                ID: {{targetData.mid}}
                <a class="btn-link"
                    [href]="'https://talontales.com/panel/?module=monster&action=view&id=' + targetData.mid"
                    target="_blank">
                    <mat-icon>open_in_new</mat-icon>
                </a>
            </mat-card-subtitle>
            <img mat-card-sm-image src="{{targetUrl()}}" />
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <div style="text-align: left;">Monster Stats</div>
        <mat-divider />
        <div class="basic-data">
            <tt-value title="HP">{{targetData.hp|number}}</tt-value>
            <tt-value title="Attack">{{targetData.minAtk}} ~ {{targetData.maxAtk}}</tt-value>
            <tt-value title="DEF">{{targetData.def}}</tt-value>
            <tt-value title="MDEF">{{targetData.mdef}}</tt-value>
            <tt-value title="Race">{{targetData.race|titlecase}}</tt-value>
            <tt-value title="Element">{{targetData.element|titlecase}} {{targetData.elementLv}}</tt-value>
        </div>
        <mat-divider />
        <div style="margin-top: 10px;">
            <mat-form-field>
                <mat-label>Skill</mat-label>
                <mat-select [formControl]="skillID">
                    @for (skill of session.skillsJob(); track $index) {
                    <mat-option [value]="skill.id">{{skill.name}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            @if (skillHasLvl()) {
            <mat-form-field>
                <mat-label>Skill Level</mat-label>
                <mat-select [formControl]="skillLvl">
                    @for (lvl of skillLvlList(); track $index) {
                    <mat-option [value]="lvl">{{lvl}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            }
            @if (ammos()) {
                <mat-form-field>
                    <mat-label>Ammunition Selection</mat-label>
                    <mat-select [formControl]="ammo">
                        @for (selectedAmmo of ammos()!.values(); track selectedAmmo.ID) {
                            <mat-option [value]="selectedAmmo"> {{ selectedAmmo.name }} </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            }

            <mat-form-field>
                <mat-label>Endow Selection</mat-label>
                <mat-select [formControl]="endow">
                    @for (selectedEndow of endows; track $index) {
                        <mat-option [value]="selectedEndow"> {{ selectedEndow | titlecase }} </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        <div style="text-align: left;">Combat Results</div>
        <mat-divider />
        <div class="basic-data">
            <tt-value title="Min. Damage">
                {{battleSession.battleReport().minDamage | number}}
                @if (battleSession.battleReport().lhMinDamage) {
                    ({{battleSession.battleReport().lhMinDamage | number}})
                }
            </tt-value>
            <tt-value title="Max. Damage">
                {{battleSession.battleReport().maxDamage | number}}
                @if (battleSession.battleReport().lhMaxDamage) {
                    ({{battleSession.battleReport().lhMaxDamage | number}})
                }
            </tt-value>
            @if (battleSession.battleReport().critRate) {
                <tt-value title="Crit. Rate">{{battleSession.battleReport().critRate}}%</tt-value>
                <tt-value title="Crit. Damage">{{battleSession.battleReport().critDamage | number}}</tt-value>
            }
            <tt-value title="Hit Rate">{{battleSession.battleReport().hitRate | number}}%</tt-value>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button matIconButton (click)="close()" matTooltip="Delete"><mat-icon>close</mat-icon></button>
        <span class="filler"></span>
        @if(!autoRefresh()){
        <button matIconButton matTooltip="Refresh" (click)="refresh()">
            <mat-icon>refresh</mat-icon>
        </button>
        }
        <mat-slide-toggle [(ngModel)]="autoRefresh">Auto. Refresh</mat-slide-toggle>
    </mat-card-actions>
</mat-card>
}