<mat-card appearance="outlined">
  <mat-card-title-group>
    <mat-card-title>Food Selection</mat-card-title>
  </mat-card-title-group>
  <mat-card-content #foodSelection>
    <mat-tab-group>
      <span></span>
      <mat-tab label="Stats">
        @for (stat of ttCore.foodDb['Stats'] | keyvalue: unsorted; track stat) {
<mat-form-field
         
          class="food-select"
        >
          <mat-label>{{ stat.key }}</mat-label>
          <mat-select
            [(value)]="sessionInfo['activeFood']['Stats'][stat.key]"
            (selectionChange)="this.ttSessionInfoService.updateSessionInfo()"
          >
            @for (food of stat.value | keyvalue: unsorted; track food) {
<mat-option
             
              [value]="food.key"
            >
              {{ food.key }} :
              <img
                class="food-icon"
                with="25"
                height="25"
                src="https://www.divine-pride.net/img/items/collection/kROS/{{
                  food.value | valueinfo: 'gid'
                }}"
              />
              {{ food.value | valueinfo: 'name' }}
            </mat-option>
}
          </mat-select>
        </mat-form-field>
}
      </mat-tab>
      @for (category of foodCategoryKeys; track category) {
<mat-tab label="{{ category }}">
        @for (food of ttCore.foodDb[category] | keyvalue; track food) {
<div
          fxLayout="column"
          fxLayoutGap="32px"
         
        >
          <mat-checkbox
            class="food-check"
            [(ngModel)]="sessionInfo['activeFood'][category][food.key]"
            (change)="this.ttSessionInfoService.updateSessionInfo()"
            ><img
              class="food-icon"
              with="25"
              height="25"
              src="https://www.divine-pride.net/img/items/collection/kROS/{{
                food.value | valueinfo: 'gid'
              }}"
            />
            {{ food.key }} [ {{ food.value | valueinfo: 'description' }} ]
          </mat-checkbox>
        </div>
}
      </mat-tab>
}
    </mat-tab-group>
  </mat-card-content>
</mat-card>
