<mat-card appearance="outlined">
  <mat-card-title-group>
    <mat-card-title>Passive Selection</mat-card-title>
  </mat-card-title-group>
  <mat-card-content #passiveSelection>
    @for (passive of ttSessionInfoService.passiveSkills | keyvalue; track passive) {
<div
      fxLayout="column"
      fxLayoutGap="32px"
     
     
    >
@switch (passive.value['maxLevel']) {
      @default {

        <mat-form-field>
          <mat-label>{{ passive.key }}</mat-label>
          <mat-select
            [(value)]="
              ttSessionInfoService.sessionInfo['passiveSkill'][passive.key]
            "
            (selectionChange)="ttSessionInfoService.updateSessionInfo()"
          >
            @for (
                skillLv of passive | lvarray: passive.value['maxLevel']
              ; track 
                skillLv) {
<mat-option
             
              [value]="skillLv"
            >
              {{ skillLv }}
            </mat-option>
}
          </mat-select>
        </mat-form-field>
      
}
      @case (1) {

        <mat-checkbox
          class="passive-check"
          [(ngModel)]="
            ttSessionInfoService.sessionInfo['passiveSkill'][passive.key]
          "
          (change)="ttSessionInfoService.updateSessionInfo()"
        >
          {{ passive.key }}
        </mat-checkbox>
      
}
    }
</div>
}
  </mat-card-content>
</mat-card>
