// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ang-mat-basic-primary: mat.define-palette(mat.$indigo-palette);
$ang-mat-basic-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ang-mat-basic-warn: mat.define-palette(mat.$red-palette);

// Define light theme (default theme)
$ang-mat-basic-theme: mat.define-light-theme(
  (
    color: (
      primary: $ang-mat-basic-primary,
      accent: $ang-mat-basic-accent,
      warn: $ang-mat-basic-warn,
    ),
  )
);

// define dark theme
$dark-prim: mat.define-palette(mat.$pink-palette);
$dark-acc: mat.define-palette(mat.$blue-grey-palette);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-prim,
      accent: $dark-acc,
    ),
  )
);

// define fun theme
$fun-prim: mat.define-palette(mat.$deep-purple-palette);
$fun-acc:  mat.define-palette(mat.$amber-palette, A200, A100, A400);
$fun-theme: mat.define-dark-theme(
  (
    color: (
      primary: $fun-prim,
      accent: $fun-acc,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// this is the default theme
@include mat.all-component-themes($ang-mat-basic-theme);

// create class for dark theme
.dark-theme {
  @include mat.all-component-colors($dark-theme);
}
// create class for fun theme
.fun-theme{
  @include mat.all-component-colors($fun-theme);
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
