<!-- Left & right hand -->
<div class="option-container">
    <mat-form-field>
        <mat-label>Weapon Type</mat-label>
        <mat-select [value]="session.rightHandType()" (selectionChange)="session.updateRightHandType($event.value)">
            @for (wT of weaponTypes(); track $index) {
            <mat-option [value]="wT"> {{wT}} </mat-option>
            }
        </mat-select>
    </mat-form-field>
    @if (!isTwoHanded()) {
    <mat-form-field>
        <mat-label>Left Hand Type</mat-label>
        <mat-select [value]="session.leftHandType()" (selectionChange)="session.updateLeftHandType($event.value)">
            @for (wT of leftHandTypes(); track $index) {
            <mat-option [value]="wT"> {{wT}} </mat-option>
            }
        </mat-select>
    </mat-form-field>
    }
</div>
<!-- Equips -->
<div class="equip-container">
    <div class="equip-left">
        <tt-equip-slot slot="upperHg" />
        <tt-equip-slot slot="lowerHg" />
        <tt-equip-slot slot="rightHand" />
        <tt-equip-slot slot="garment" />
        <tt-equip-slot slot="rhAccessory" />
    </div>
    <div class="equip-avatar">
        <class-avatar />
    </div>
    <div class="equip-right">
        <tt-equip-slot slot="middleHg" />
        <tt-equip-slot slot="armor" />
        @if(isTwoHanded()){
        <!-- copy the rightHand but disable it "function"-->
        <tt-equip-slot slot="rightHand" [disabled]="true" />
        }
        @else{
        <tt-equip-slot slot="leftHand" />
        }
        <tt-equip-slot slot="shoes" />
        <tt-equip-slot slot="lhAccessory" />
    </div>
</div>