.option-container {
    display: flex;
    justify-content: center;
}

.equip-container {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;

    &>div {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

.equip-left {
    align-items: end;
}

.equip-avatar {
    align-items: center;
    justify-content: center;
}

.equip-right {
    align-items: start;
}