<!-- Left & right hand -->
<div>
    <mat-form-field>
        <mat-label>Waepon Type</mat-label>
        <mat-select [value]="session.rightHandType()" (selectionChange)="session.updateRightHandType($event.value)">
            @for (wT of weaponTypes(); track $index) {
            <mat-option [value]="wT"> {{wT}} </mat-option>
            }
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Left Hand Type</mat-label>
        <mat-select [value]="session.leftHandType()" (selectionChange)="session.updateLeftHandType($event.value)">
            @for (wT of leftHandTypes(); track $index) {
            <mat-option [value]="wT"> {{wT}} </mat-option>
            }
        </mat-select>
    </mat-form-field>
</div>
<!-- Equips -->
@for (equipSlot of equip(); track equipSlot.slot) {
<tt-equip-slot [slot]="equipSlot.slot" [meta]="equipSlot.meta" />
}