<!-- {{se.totalStats()|json}}<br> -->
<!-- {{se.equip()|json}}<br> -->
<!-- Main-Hand: {{se.rightHandType()}} - OffHand: {{se.leftHandType()}}<br> -->
<!-- {{se.equipment()|json}}<br> -->
<!-- {{se.refines()|json}}<br> -->
<!-- {{se.cards()|json}}<br> -->
<!-- {{se.itemCombos()|json}}<br> -->
 
<button (click)="loadBuild(this.BUILD_1)">Load Build LK test</button><br>
<button (click)="loadBuild(this.BUILD_2)">Load Build HW test</button><br>
{{se.bonus()|json}}<br>
<!-- {{se.foodsStats()|json}}<br> -->
<!-- {{se.foodsOther()|json}}<br> -->
<!-- {{se.sqiEquipped()}}<br> -->
<!-- {{se.sqiBonus()|json}}<br> -->
<!-- {{se.bonus().skills|json}}<br> -->
<!-- Pet ID: {{se.pet()}}<br> -->
<!-- 
<button (click)="testItemScripts()">Test Item Script</button>
{{debugBonus()|json}}
<p>{{statusItems()}}</p>

<p>Unknown commands</p>
@for (cmd of unknownScriptElements(); track $index) {
<span>{{cmd}}</span><br>
} -->
<!-- <tt-slider [print]="true" [value]="sliderVal()" min="0" max="10" (valueChange)="sliderVal.set($event)" [displayWith]="dispRefine"/> Value: {{sliderVal()}} -->