<mat-tab-group>
    <!-- Stat Foods -->
    <mat-tab label="Stats">
        @for (statFoodCat of statFoods|keyvalue; track $index) {
        <div>
            <mat-form-field>
                <mat-label>{{statFoodCat.key}}</mat-label>
                <mat-select [(value)]="activeFoods.Stats[statFoodCat.key]" (selectionChange)="foodChanged()">
                    @for (statFood of statFoodCat.value|keyvalue: originalOrder; track $index) {
                    <mat-option [value]="statFood.key">
                        @if($index != 0){
                        <img [src]="'https://talontales.com/panel/data/items/icons/' + statFood.value.gid + '.png'" />
                        {{statFood.key}}: {{statFood.value.name}}
                        }
                        @else {
                        None
                        }
                    </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        }
    </mat-tab>
    <!-- Other Food -->
    @for (foodCat of otherFoods|keyvalue; track $index) {
    <mat-tab [label]="foodCat.key">
        @for (food of foodCat.value|keyvalue; track $index) {
        <div>
            <mat-checkbox [(ngModel)]="activeFoods[foodCat.key][food.key]" (change)="foodChanged()"><img
                    [src]="'https://talontales.com/panel/data/items/icons/' + food.value.gid + '.png'" />{{food.key}}
                [{{food.value.description}}]</mat-checkbox>
        </div>
        }
    </mat-tab>
    }
</mat-tab-group>